<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>MainPage</servlet-name>
  	<display-name>MainPage</display-name>
  	<description></description>
  	<servlet-class>bloodwebapp.MainPage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MailApp</servlet-name>
  	<display-name>MailApp</display-name>
  	<description></description>
  	<servlet-class>bloodwebapp.MailApp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MailStore</servlet-name>
  	<display-name>MailStore</display-name>
  	<description></description>
  	<servlet-class>bloodwebapp.MailStore</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ValidateUser</servlet-name>
  	<display-name>ValidateUser</display-name>
  	<description></description>
  	<servlet-class>bloodwebapp.ValidateUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ValidateAdmin</servlet-name>
  	<display-name>ValidateAdmin</display-name>
  	<description></description>
  	<servlet-class>bloodwebapp.ValidateAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ValidateCenter</servlet-name>
  	<display-name>ValidateCenter</display-name>
  	<description></description>
  	<servlet-class>bloodwebapp.ValidateCenter</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SeeRecordsInsert</servlet-name>
  	<display-name>SeeRecordsInsert</display-name>
  	<description></description>
  	<servlet-class>bloodwebapp.SeeRecordsInsert</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SeeRecordsValidate</servlet-name>
  	<display-name>SeeRecordsValidate</display-name>
  	<description></description>
  	<servlet-class>bloodwebapp.SeeRecordsValidate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotPassword</servlet-name>
  	<display-name>ForgotPassword</display-name>
  	<description></description>
  	<servlet-class>bloodwebapp.ForgotPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterUserServlet</servlet-name>
  	<display-name>RegisterUserServlet</display-name>
  	<description></description>
  	<servlet-class>bloodwebapp.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CenterSignup</servlet-name>
  	<display-name>CenterSignup</display-name>
  	<description></description>
  	<servlet-class>bloodwebapp.CenterSignup</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>viewdonor</servlet-name>
  	<display-name>viewdonor</display-name>
  	<description></description>
  	<servlet-class>bloodwebapp.viewdonor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Viewspecificdonor</servlet-name>
  	<display-name>Viewspecificdonor</display-name>
  	<description></description>
  	<servlet-class>bloodwebapp.Viewspecificdonor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updatedonorstatus</servlet-name>
  	<display-name>updatedonorstatus</display-name>
  	<description></description>
  	<servlet-class>bloodwebapp.updatedonorstatus</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SeeRecordsData</servlet-name>
  	<display-name>SeeRecordsData</display-name>
  	<description></description>
  	<servlet-class>bloodwebapp.SeeRecordsData</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>verificationfromcenter</servlet-name>
  	<display-name>verificationfromcenter</display-name>
  	<description></description>
  	<servlet-class>bloodwebapp.verificationfromcenter</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewForCenter</servlet-name>
  	<display-name>ViewForCenter</display-name>
  	<description></description>
  	<servlet-class>bloodwebapp.ViewForCenter</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>bookappointment</servlet-name>
  	<display-name>bookappointment</display-name>
  	<description></description>
  	<servlet-class>bloodwebapp.bookappointment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OnlyUserSee</servlet-name>
  	<display-name>OnlyUserSee</display-name>
  	<description></description>
  	<servlet-class>bloodwebapp.OnlyUserSee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateUserOwn</servlet-name>
  	<display-name>UpdateUserOwn</display-name>
  	<description></description>
  	<servlet-class>bloodwebapp.UpdateUserOwn</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MainPage</servlet-name>
  	<url-pattern>/MainPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MailApp</servlet-name>
  	<url-pattern>/MailApp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MailStore</servlet-name>
  	<url-pattern>/MailStore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ValidateUser</servlet-name>
  	<url-pattern>/ValidateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ValidateAdmin</servlet-name>
  	<url-pattern>/ValidateAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ValidateCenter</servlet-name>
  	<url-pattern>/ValidateCenter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SeeRecordsInsert</servlet-name>
  	<url-pattern>/SeeRecordsInsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SeeRecordsValidate</servlet-name>
  	<url-pattern>/SeeRecordsValidate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotPassword</servlet-name>
  	<url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterUserServlet</servlet-name>
  	<url-pattern>/RegisterUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CenterSignup</servlet-name>
  	<url-pattern>/CenterSignup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>viewdonor</servlet-name>
  	<url-pattern>/viewdonor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Viewspecificdonor</servlet-name>
  	<url-pattern>/Viewspecificdonor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updatedonorstatus</servlet-name>
  	<url-pattern>/updatedonorstatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SeeRecordsData</servlet-name>
  	<url-pattern>/SeeRecordsData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>verificationfromcenter</servlet-name>
  	<url-pattern>/verificationfromcenter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewForCenter</servlet-name>
  	<url-pattern>/ViewForCenter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>bookappointment</servlet-name>
  	<url-pattern>/bookappointment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OnlyUserSee</servlet-name>
  	<url-pattern>/OnlyUserSee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateUserOwn</servlet-name>
  	<url-pattern>/UpdateUserOwn</url-pattern>
  </servlet-mapping>
</web-app>
